<div class='container' id="page-container">
    <div id="content-wrap">
        <header>
          <nav class="navbar navbar-expand navbar-light bg-light">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link"
                  [routerLink]="['/welcome']"
                  routerLinkActive="active">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link"
                  [routerLink]="['/products']"
                  routerLinkActive="active"
                  [routerLinkActiveOptions]="{ exact : true}">Product List</a>
              </li>
            </ul>
          </nav>
        </header>
        <section>
            <app-alert></app-alert>
            <router-outlet></router-outlet>
          </section>
    </div>
    <footer>
        <p> © {{year}} Copyright : SAKHRI Mohamed Amine</p>
      </footer>
</div>
